<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Home of UMA</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class ="home-background" >
      <div *ngIf ="(!this.specialtyList)">
        <h1>Loading Specialties</h1>
        <h2>Please wait..</h2>
        <ion-spinner ></ion-spinner>
      </div>
    <ion-card padding>
      <h2>Choose a specialty to view</h2>
      <ion-list >
        <button ion-item *ngFor="let specialty of specialtyList" (click)="chooseSpecialty(specialty)">
          {{specialty}}</button>
      </ion-list>
    </ion-card>
  
  </ion-content>
  