<ion-header>
    <ion-navbar>
      <ion-title>Clinical Information</ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar primary placeholder="Search for..." hideCancelButton [(ngModel)]="ClinSearchValue" [formControl]="ClinSearchControl" value=""></ion-searchbar>
      </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <p>
        Click the name of the item to view more details
      </p>
      <ion-list>
        <div *ngIf="!clinicalListData">
          <h1>Loading, please wait..</h1>
          <ion-spinner></ion-spinner>
        </div>
        <div *ngFor="let info of clinicalListData">
          <button ion-item (click)="showDetail(info)" class="group">{{info.title}}</button>
        </div>
      </ion-list>
    
    </ion-content>
