<!--
  Generated template for the ClinicalDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{detailObject.title}}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="detailObject && !detailObject.image">
  <button ion-button color = "primary" *ngIf = "!this.isFav" (click) = "this.makeFav(this.detailObject)">Favourite</button>
  <button ion-button color = "secondary" *ngIf = "this.isFav" (click) = "this.unFav(this.detailObject)">Unfavourite</button>
  <div *ngIf="isPresent('picture')"><h3>Picture</h3>
  <img src={{detailObject.picture}} imageViewer/>
  </div>

  <h4 *ngIf="isPresent('summary')">Summary
    </h4>
  <div *ngFor="let data of detailObject.summary">
    <p class="para">{{data}}</p>
  </div>

  <h4 *ngIf="isPresent('symptoms')">Symptoms
    </h4>
  <div *ngFor="let data of detailObject.symptoms">
    <p class="para">{{data}}</p>
  </div>

  <h4 *ngIf="isPresent('signs')">Signs
    </h4>
  <p *ngFor="let data of detailObject.signs" class="para">{{data}}</p>

  <h4 *ngIf="isPresent('required')">Action
    </h4>
  <p *ngFor="let data of detailObject.required" class="para">{{data}}</p>

  <h4 *ngIf="isPresent('admit')">Admit
    </h4>
  <p *ngFor="let data of detailObject.admit" class="para">{{data}}</p>

  <h4 *ngIf="isPresent('flags')">Red Flags
  </h4>
  <p *ngFor="let data of detailObject.flags" class="para">{{data}}</p>

</ion-content>
<ion-content padding *ngIf="detailObject && detailObject.image">
  <button ion-button color = "primary" *ngIf = "!this.isFav" (click) = "this.makeFav(this.detailObject)">Favourite</button>
  <button ion-button color = "secondary" *ngIf = "this.isFav" (click) = "this.unFav(this.detailObject)">Unfavourite</button>


  <div *ngFor="let picture of this.detailObject.image">
    <img src={{picture}} imageViewer/>
  </div>
</ion-content>

<ion-content *ngIf="!detailObject">
  <h3>No items to show</h3>
</ion-content>
